{% extends "stats/base/base.html" %}
{% block title %}test NBA index page{% endblock %}

{% block header %}header block extended{% endblock %}
{% block content %}
    <p>content block extended</p>
    <p>현재 화면의 slug는 : {{ slug }}</p>


    <p>static url : {{ STATIC_URL }}</p>
    <p>SITE_PAGES_DIRECTORY : {{ SITE_PAGES_DIRECTORY }}</p>



    {% comment %}<p>&lt;img src="{{ example }}" &gt;</p>
    <ul>
        <li><img src="{%  url 'placeholder' width=50 height=50 %}" /></li>
        <li><img src="{%  url 'placeholder' width=50 height=50 %}" /></li>
        <li><img src="{%  url 'placeholder' width=50 height=50 %}" /></li>
    </ul>{% endcomment %}

{% endblock %}
{% block footer %}footer block extended{% endblock %}


{#https://kimdoky.github.io/django/2017/10/05/pyDjango-ch16.html#}
{#{% extends "base.html" %}#}
{##}
{#{% block title %}home.html{% endblock %}#}
{##}
{#{% load staticfiles %}#}
{#{% block extrastyle %}{% static "css/home.css" %}{% endblock %}#}