{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/setting.css" />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block style %}{% endblock %}
</head>

<body>
    <header>
    <h1>{% block header %}{% endblock %}</h1>
    </header>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    {% include "stats/base/footer.html" %}
</body>

</html>
